.content-page {
    width: 100%;
    min-height: 900px;
    display: flex;
    flex-direction: row-reverse;
    font-family: Montserrat;
    font-style: normal;
    padding-bottom: 5vh;
}
.content-page-nav {
    height: auto;
    width: 25%;
    margin: 30px auto auto 5%;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 0 10px 10px 0;
    padding: 15px 5px;
    position: relative;
}
.content-page-nav h1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #F2386E;
    margin-left: 15px;
    margin-bottom: 15px;
}
.menu-icon-nav-l {
    left: 5% !important;
}
.nav-hidden {
    display: none !important;
}
.nav-show {
    display: block !important;
}
.menu-icon-wrapper-nav-show {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 18%;
    left: 5%;
}
.content-page-nav-module {
    padding: 15px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 5px;
    position: relative;
}
.content-page-nav-module h2 {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #292929;
    margin-bottom: 15px;
}
.content-page-nav-module h2.h2-active {
    color: #F2386E;
}
.content-page-nav-module a.content-page-nav-module-arrow {
    position: absolute;
    top: 15px;
    right: 15px;
}
.content-page-nav-module-arrow-active {
    transform: rotate(180deg);
}
.content-page-nav-module ul {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    margin-bottom: 10px;
}
.content-page-nav-module ul li {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.content-page-nav-module ul a {
    color: #292929;
}
a.li-active {
    font-weight: bold !important;
}
.content-page-nav-module a.content-page-test {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    margin-left: 15px;
}
.slide-page-wrap {
    display: flex;
    justify-content: center;
    min-height: 634px;
    width: 60%;
    margin: 70px 0 0 2%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0;
    right: 100px;
}
.slide-page-wrap-100 {
    width: 100%;
    margin: 70px 10% 0 10%;
    position: unset;
}
.slide-page-45 {
    height: 45vw !important;
}
.h1-nav-hidden {
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #F2386E !important;
    margin: 30px 0;
    display: none;
}
.slide-page-wrap a.slide-back {
    position: absolute;
    left: -5%;
    top: 45%;
}
a.slide-back svg path:hover {
    fill: #492996;
}
a.slide-back svg path:active {
    fill: #492996;
}
.slide-page-wrap a.slide-next {
    position: absolute;
    right: -5%;
    top: 45%;
}
a.slide-next svg path:hover {
    fill: #492996;
}
a.slide-next svg path:active {
    fill: #492996;
}
.slide-page {
    height: 30vw;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    display: block;
    align-items: center;
    justify-content: center;
    position:relative;
}
.slide-page-full-screen {
    z-index: 10;
    width: 90%;
    position: fixed;
    height: 95%;
    left: 5%;
    right: 5%;
    top: 20px;
}
.modal-fon-on {
    background: #737373;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.content-page-slide h1 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #2D2D2D;
}
.content-page-slide p {
    margin-top: 30px;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #2D2D2D;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
}
.content-btns {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.content-btn-wrap {
    background: linear-gradient(269.44deg, #5B0093 -18.81%, #B70068 99.9%);
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 61px;
    padding: 2px;
    display: flex;
    margin-right: 30px;
}
.content-btns a.content-btn {
    box-sizing: border-box;
    border-radius: 61px;
    background: #f5f3fa;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.15);
    padding: 12px 25px;
}
.content-btns a.content-btn svg {
    margin-left: 15px;
}
.content-page-nav-active-hidden {
    display: none;
}

/*бургер-нав*/

.menu-icon-wrapper-nav {
    position: absolute;
    right: 15px;
    top: 15px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icon-wrapper-nav.menu-icon {
    position: relative;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: #000;
}
.menu-icon-wrapper-nav.menu-icon::before {
    position: absolute;
    left: 0;
    top: -7px;
    content: '';
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: #000;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon-wrapper-nav.menu-icon::after {
    position: absolute;
    left: 0;
    top: 7px;
    content: '';
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: #000;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon-wrapper-nav.menu-icon.menu-icon-active {
    background-color: transparent;
}
.menu-icon-wrapper-nav.menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.menu-icon-wrapper-nav.menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}


@media only screen and (max-width: 1400px) {
    .slide-page-wrap {
        right: 50px;
    }
}
@media only screen and (max-width: 1300px) {
    .slide-page-wrap {
        right: 20px;
    }
    .content-page-nav {
        width: 50%;
    }
}
@media only screen and (max-width: 1100px) {
    .content-page-nav {
        display: none;
    }
    .menu-icon-wrapper-nav-show {
        display: flex;
    }
    .slide-page-wrap {
        width: 96%;
        position: unset;
        margin: 70px 2% 0 2%;
    }
    .slide-page {
        height: 50vw;
    }
    .slide-page-full-screen {
        top: auto;
    }
    .article {
        margin-top: 70px;
    }
}
@media only screen and (max-width: 960px) {
    .content-page {
        flex-wrap: wrap;
    }
    .content-page-nav {
        display: block;
    }
    .h1-nav-hidden {
        display: block;
    }
    .menu-icon-wrapper-nav-show {
        display: none;
    }
    .content-page-nav {
        width: 100%;
        margin: 0 auto auto auto;
        background: transparent;
    }
    .content-page-nav .h1-nav-show {
        display: none;
    }
    .slide-page-wrap {
        width: 100%;
        position: unset;
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .content-page-nav {
        padding: 15px 15px;
    }
    .slide-page-wrap a.slide-next {
        display: none;
    }
    .slide-page-wrap a.slide-back {
        display: none;
    }
    .content-btns {
        justify-content: center;
    }
}
@media only screen and (max-width: 800px) {
    .slide-page-wrap a.slide-next {
        right: -8%;
    }
    .slide-page-wrap a.slide-back {
        left: -8%;
    }
}
@media only screen and (max-width: 500px) {
    .content-btns {
        flex-wrap: wrap;
    }
    .content-btn-wrap {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .content-btns a.content-btn {
        width: 100%;
    }
}