.slide-page-wrap {
    margin: 30px 0 0 2%;
}
.article {
    background: transparent;
    border: none;
    height: auto !important;
}
.article h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 110.19%;
    letter-spacing: 0.035em;
    color: #492996;
    width: 80%;
    margin-bottom: 30px;
}
.article h1 span {
    font-weight: 600;
}
.article h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #F2386E;
    margin-bottom: 30px;
}
.article p {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #292929;
    margin-bottom: 30px;
    margin-top: 0;
    padding: 0;
    border: none;
}
.article p span {
    font-style: italic;
}
.article-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.rev {
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.rev h2 {
    text-align: end;
    margin-right: 50px;
}
.rev p {
    width: 100%;
    text-align: end;
}
.article-list h1 {
    font-weight: bold;
    font-size: 187.2px;
    line-height: 228px;
    color: #F2386E;
    text-shadow: -7px -5px 0px #492996;
    width: 15%;
}
.article-list h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.05em;
    color: #F2386E;
    position: relative;
    bottom: 40px;
    width: 70%;
}
.quote {
    position: relative;
    padding: 70px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.quote h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #292929;
    width: 100%;
}
.quote h6 {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #292929;
    text-align: center;
}
.quote svg.top {
    position: absolute;
    top: 0;
    left: 0;
}
.quote svg.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}
.circle {
    position: absolute;
    left: -3vw;
    top: -3vh;
    z-index: -1;
    border-radius: 50%;
    background: #F2386E;
    width: 100px;
    height: 100px;
}