.slide-page-wrap {
    margin: 30px 0 0 2%;
}
.article {
    background: transparent;
    border: none;
    height: auto !important;
    margin-top: 70px;
}
.article h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 110.19%;
    letter-spacing: 0.035em;
    color: #492996;
    width: 80%;
    margin-bottom: 30px;
}
.article h1 span {
    font-weight: 600;
}
.article h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #F2386E;
    margin-bottom: 30px;
}
.article p {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #292929;
    margin-bottom: 30px;
    margin-top: 0;
    padding: 0;
    border: none;
}
.article p span {
    font-style: italic;
}
.article p span.bold {
    font-weight: bold;
    font-style: normal;
}
.article img {
    width: 30%;
    margin-right: 50px;
    margin-top: 50px;
}
.article-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.article-list h1 {
    font-weight: bold;
    font-size: 187.2px;
    line-height: 228px;
    color: #F2386E;
    text-shadow: -7px -5px 0px #492996;
    width: 25%;

}
.article-list h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.05em;
    color: #F2386E;
    position: relative;
    bottom: 40px;
    width: 70%;
    word-wrap: break-word;
}
.rev {
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.rev h1 {
    text-align: end;
}
.rev h2 {
    text-align: end;
    margin-right: 20px;
}
.rev p {
    width: 100%;
    text-align: end;
}
.article-list-book {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.article-list-book-heading {
    width: 60%;
}
.article-list-book h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.05em;
    color: #F2386E;
    margin: 0;
    position: relative;
    bottom: 20px;
}
.article-list-book h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.03em;
    color: #492996;
    position: relative;
    bottom: 20px;
}
.quote {
    position: relative;
    padding: 70px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.quote h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #292929;
    width: 100%;
}
.quote h6 {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #292929;
    text-align: center;
}
.quote svg.top {
    position: absolute;
    top: 0;
    left: 0;
}
.quote svg.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}
.circle {
    position: absolute;
    left: -3vw;
    top: -3vh;
    z-index: -1;
    border-radius: 50%;
    background: #F2386E;
    width: 100px;
    height: 100px;
}
@media only screen and (max-width: 1060px) {
    .article h1 {
        font-size: 32px;
        width: 100%;
    }
    .article-list h1 {
        font-size: 160px;
        width: 25%;
    }
    .article-list h2 {
        font-size: 26px;
        bottom: 50px;
    }
    .article p {
        font-size: 20px;
    }
}
@media only screen and (max-width: 960px) {
    .article {
        margin-top: 0;
    }
}
@media only screen and (max-width: 560px) {
    .article h1 {
        font-size: 28px;
    }
    .article-list h1 {
        font-size: 140px;
    }
    .article-list h2 {
        font-size: 24px;
        bottom: 60px;
        line-height: 25px;
    }
    .article p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .article img {
        width: 60%;
        margin-right: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .article-list-book-heading {
        width: auto;
    }
    .article-list-book-heading h2 {
        font-size: 24px;
        line-height: 25px;
    }
    .article-list-book-heading h3 {
        font-size: 22px;
    }
    .quote {
        padding: 70px 20px;
    }
}
@media only screen and (max-width: 480px) {
    .article h1 {
        font-size: 24px;
    }
    .article p {
        font-size: 14px;
    }
    .article-list h1 {
        font-size: 120px;
    }
    .article-list h2 {
        font-size: 20px;
        bottom: 65px;
        width: 65%;
    }
    .article-list-book-heading h2 {
        font-size: 20px;
    }
    .article-list-book-heading h3 {
        font-size: 16px;
    }
}
@media only screen and (max-width: 410px) {
    .article h1 {
        font-size: 24px;
    }
    .article-list h1 {
        font-size: 100px;
    }
    .article-list h2 {
        font-size: 18px;
        bottom: 65px;
        width: 65%;
    }
    .article-list-book-heading h2 {
        font-size: 18px;
    }
    .article-list-book-heading h3 {
        font-size: 15px;
    }
    .article p {
        font-size: 14px;
    }
}